* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    display: flex;
    flex-direction: column;
    background: #18191A;
    color: #fff;
}


.container {
    min-width: 20rem;
    max-width: 60rem;
    width: 100%;
    margin: auto;
}


.wrapper {
    width: 100%;
    background: #242526;
    padding: 50px 0;
}

.title {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
}


.table {
    width: 960px;
    border-spacing: 0 15px;
}

.table__caption {
    font-size: 1.2rem;
    font-weight: bold;
}

.table__title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px 15px;
    color: #FFE91A;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #242526;
}

.table__row:first-child {
    background: #18191A;
    border-radius: 20px;
}

.table__cell {
    padding: 5px 5px 5px 15px;
    border-bottom: 2px solid #3e4042;
    font-size: 1.2rem;
}

.table__row:nth-child(n+5) {
    color: #ABAAEE;
}

.table__row:nth-child(n+2):nth-child(-n+4) {
    color: #B06C55;
}

@media screen and (max-width: 1024px) {
    .table-wrapper {
        overflow-x: auto;
    }

    .table {
        padding: 0 20px;
    }
}


.form-wrapper {
    padding: 50px 0;
}


.title-form {
    margin-bottom: 50px;
    text-align: center;
}


.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.registration input {
    padding: 5px 2px;
    border: none;
    outline: 2px solid transparent;
}

.registration input:focus {
    border: none;
    outline: 2px solid #3e4042;
}





.registration__group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 20px;
    border-top: 2px solid #3e4042;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.registration__title {
    padding: 0 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}


.group-name {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group-name__item {
    display: flex;
    flex-direction: column;
    width: 48%;
    max-width: 220px;
}

.name,
.surname {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #FFE91A;
}

